{% comment %}
  Template do mega menu "Ar Condicionado".
  Carregado via theme.liquid; o JS move o painel para o header no desktop.
  Para trocar o banner: edite data-banner-url e o link em mega-menu-ar__banner-link.
{% endcomment %}

<div id="mega-menu-ar-template" class="d-hide" aria-hidden="true">
  <div class="mega-menu-ar__inner">
    <div class="mega-menu-ar__grid">

      <div class="mega-menu-ar__col">
        <h3 class="mega-menu-ar__col-title">Split Inverter</h3>
        <ul class="mega-menu-ar__links">
          <li><a href="/split-inverter/9000-btus">9000 BTUs</a></li>
          <li><a href="/split-inverter/12000-Btus">12000 BTUs</a></li>
          <li><a href="/split-inverter/18000-Btus">18000 BTUs</a></li>
          <li><a href="/split-inverter/24000-Btus">24000 BTUs</a></li>
          <li><a href="/split-inverter/30000-Btus">30000 BTUs</a></li>
          <li><a href="/split-inverter/Frio">Frio</a></li>
          <li><a href="/split-inverter/Quente-Frio">Quente/Frio</a></li>
        </ul>
        <a class="mega-menu-ar__ver-tudo" href="/split-inverter">Ver tudo</a>
      </div>

      <div class="mega-menu-ar__col">
        <h3 class="mega-menu-ar__col-title">Piso Teto</h3>
        <ul class="mega-menu-ar__links">
          <li><a href="/Piso-Teto/30000-Btus">30000 BTUs</a></li>
          <li><a href="/Piso-Teto/36000-Btus">36000 BTUs</a></li>
          <li><a href="/Piso-Teto/46000-Btus">46000 BTUs</a></li>
          <li><a href="/Piso-Teto/48000-Btus">48000 BTUs</a></li>
          <li><a href="/Piso-Teto/56000-btus">56000 BTUs</a></li>
          <li><a href="/Piso-Teto/Frio">Frio</a></li>
          <li><a href="/Piso-Teto/Quente-Frio">Quente/Frio</a></li>
        </ul>
        <a class="mega-menu-ar__ver-tudo" href="/Piso-Teto">Ver tudo</a>
      </div>

      <div class="mega-menu-ar__col">
        <h3 class="mega-menu-ar__col-title">Janela</h3>
        <ul class="mega-menu-ar__links">
          <li><a href="/janela/18000-btus">18000 BTUs</a></li>
          <li><a href="/janela/Frio">Frio</a></li>
        </ul>
        <a class="mega-menu-ar__ver-tudo" href="/janela">Ver tudo</a>
      </div>

      <div class="mega-menu-ar__col">
        <h3 class="mega-menu-ar__col-title">Outros tipos</h3>
        <ul class="mega-menu-ar__links">
          <li><a href="/multi-split" class="is-disabled" title="Em breve">Multi Split</a></li>
          <li><a href="/Duto" class="is-disabled" title="Em breve">Duto</a></li>
          <li><a href="/Cassete" class="is-disabled" title="Em breve">Cassete</a></li>
          <li><a href="/frio">Todos Frio</a></li>
          <li><a href="/quente-frio">Todos Quente/Frio</a></li>
        </ul>
        <a class="mega-menu-ar__ver-tudo" href="/Todos-os-Produtos">Ver catálogo</a>
      </div>

      <div class="mega-menu-ar__col mega-menu-ar__brands">
        <h3 class="mega-menu-ar__col-title">Marcas</h3>
        <ul class="mega-menu-ar__links">
          <li><a href="/split-inverter?marcas=Elgin">Elgin</a></li>
          <li><a href="/split-inverter?marcas=Philco">Philco</a></li>
          <li><a href="/split-inverter?marcas=Midea">Midea</a></li>
          <li><a href="/split-inverter?marcas=TCL">TCL</a></li>
          <li><a href="/split-inverter?marcas=HQ">HQ</a></li>
          <li><a href="/split-inverter?marcas=EOS">EOS</a></li>
          <li><a href="/Piso-Teto?marcas=Hitachi">Hitachi</a></li>
        </ul>
        <a class="mega-menu-ar__ver-tudo" href="/Todos-os-Produtos">Ver todas</a>
      </div>

      <div class="mega-menu-ar__col mega-menu-ar__banner">
        <a class="mega-menu-ar__banner-link" href="/ar-condicionado-de-janela-springer-midea-mecanico-18000-btus-p139" title="Ar de Janela Springer Midea 18.000 BTUs">
          <div class="mega-menu-ar__banner-img-wrap">
            <img
              class="mega-menu-ar__banner-img"
              src="https://salescdn.net/GuYEVD2OytBvEEgD5TWg5xqToLk=/adaptive-fit-in/250x0/prod/store/13805/medias/product/ar-condicionado-de-janela-springer-midea-zck185bb-mecanico-18000-btu/h-frio-branco-220v-0-1777056949034.webp"
              alt=""
              loading="lazy"
              width="250"
              height="130"
            >
          </div>
          <div class="mega-menu-ar__banner-body">
            <span class="mega-menu-ar__banner-kicker">Midea</span>
            <p class="mega-menu-ar__banner-title">Ar de janela com o melhor custo-benefício</p>
            <span class="mega-menu-ar__banner-cta">Confira</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
