{% comment %} VERSAO: 2026-07-15-no-autofocus — sem autofocus (evita teclado no mobile) {% endcomment %}
    <div class="sidenav-overlay sidenav-forgot-password">
        <div class="sidenav-container" x-data="setupForgotPassword()">
            <form class="form-forgot" x-on:submit.prevent>
                <div class="sidenav-header">
                    <a class="btn-sidenav-close float-right" href="javascript:void(0)" aria-label="Close" onclick="closeSideNavOverlay()">
                        <svg class='icon_close' x='0px' y='0px' viewBox='0 0 512.001 512.001'>
                            <path d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285L284.286,256.002z' />
                        </svg>
                    </a>
                    <div class="sidenav-title">Esqueci minha senha</div>
                </div>
                <div class="sidenav-body">
                    <p>Digite o e-mail cadastrado na loja para receber uma nova senha.</p>
                    <div class="form-group" :class="{ 'is-error': !!state.errors.email, onFocus: !state.email }">
                        <label class="form-label" for="current-email">Email *</label>
                        <input id="current-email" name="current-email" type="email" class="form-input form-input-email" autocomplete="current-password" required="required" @keydown.enter="forgotPassword()" x-model="state.email">
                        <p class="form-input-hint" x-text="state.errors.email"></p>
                    </div>
                </div>
                <div class="sidenav-footer">
                    <div class="form-group">
                        <button class="btn btn-login btn-block" @click.debounce.200="forgotPassword()" type="button" aria-label="Enviar"> Enviar </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function setupForgotPassword() {
            let state = {
                email: '',
                errors: [{
                    email: ''
                }],
            }

            function validate() {
                if (!this.state.email) {
                    this.state.errors.email = 'Por favor, informe seu email'
                    return false;
                }
                return true;
            }

            function forgotPassword() {
                openLoadingSideOverlay('.sidenav-forgot-password');
                if (!this.validate()) {
                    closeLoadingSideOverlay('.sidenav-forgot-password');
                    return;
                }
                StoreSDK.request.post('/ajax/forgot/password', this.state).then((response) => {
                    const msgForgot = notyf.open({
                        type: 'info',
                        message: 'Reenvio de senha realizado caso exista o e-mail.',
                    });
                    msgForgot.on('dismiss', () => {
                        closeSideNavOverlay();
                    });
                    closeLoadingSideOverlay('.sidenav-forgot-password');
                    setTimeout(function() {
                        closeSideNavOverlay();
                    }, 5000);
                });
            }
            return {
                state,
                validate,
                forgotPassword,
            }
        }
    </script>
