{% comment %} VERSAO: 2026-07-15-no-autofocus — sem autofocus (evita teclado no mobile) {% endcomment %}
    <div class="sidenav-overlay sidenav-password">
        <div class="sidenav-container" x-data="setupChangePassword()">
            <form class="form-login" x-on:submit.prevent>
                <div class="sidenav-header">
                    <a class="btn-sidenav-close float-right" href="javascript:void(0)" aria-label="Close" onclick="closeSideNavOverlay()">
                        <svg class='icon_close' x='0px' y='0px' viewBox='0 0 512.001 512.001'>
                            <path d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285L284.286,256.002z' />
                        </svg>
                    </a>
                    <div class="sidenav-title">Alterar senha</div>
                </div>
                <div class="sidenav-body">
                    <p>Por favor, preencha os campos abaixo corretamente para criação de nova senha.</p>
                    <div class="form-group" :class="{ 'has-error': !!state.errors.oldPassword }">
                        <label class="form-label" for="current-password">Antiga senha *</label>
                        <input id="current-password" name="current-password" type="password" class="form-input form-input-password" autocomplete="current-password" required="required" x-model="state.oldPassword">
                        <svg class='form-icon form-icon_password form-icon_password__hide' style='display: block;' width='16px' height='16px' viewBox='0 0 24 24'>
                            <path d='M7.68 15A4.94 4.94 0 017 12.5a5 5 0 015-5 4.94 4.94 0 012.47.68L16.67 6A11.8 11.8 0 001 12.5a11.89 11.89 0 004 5.17L7.68 15zM19.59 7.77l-2.94 2.94c.23.57.348 1.177.35 1.79a5 5 0 01-5 5 4.93 4.93 0 01-1.8-.35l-2.15 2.16A11.71 11.71 0 0012 20a11.83 11.83 0 0011-7.5 11.87 11.87 0 00-3.41-4.73zM16.18 9.77l2.61-2.62L21 4.94 20.06 4l-2.44 2.43-2.33 2.33-7.03 7.03-2.45 2.45L4 20.06l.94.94 2.1-2.1 2.23-2.22z'></path>
                        </svg>
                        <svg class='form-icon form-icon_password form-icon_password__show' style='display: none;' width='16px' height='16px' viewBox='0 0 24 24'>
                            <path d='M12 5a11.83 11.83 0 00-11 7.5 11.82 11.82 0 0022 0A11.83 11.83 0 0012 5zm0 12.5a5 5 0 115-5 5 5 0 01-5 5zm0-8a3 3 0 103 3 3 3 0 00-3-3z'></path>
                        </svg>
                        <p class="form-input-hint" x-text="state.errors.oldPassword"></p>
                    </div>
                    <div class="form-group" :class="{ 'has-error': !!state.errors.newPassword }">
                        <label class="form-label" for="new-password">Nova senha *</label>
                        <input id="new-password" name="new-password" type="password" class="form-input form-input-password" autocomplete="new-password" required="required" x-model="state.newPassword" @keydown.enter="saveNewPassword()">
                        <svg class='form-icon form-icon_password form-icon_password__hide' style='display: block;' width='16px' height='16px' viewBox='0 0 24 24'>
                            <path d='M7.68 15A4.94 4.94 0 017 12.5a5 5 0 015-5 4.94 4.94 0 012.47.68L16.67 6A11.8 11.8 0 001 12.5a11.89 11.89 0 004 5.17L7.68 15zM19.59 7.77l-2.94 2.94c.23.57.348 1.177.35 1.79a5 5 0 01-5 5 4.93 4.93 0 01-1.8-.35l-2.15 2.16A11.71 11.71 0 0012 20a11.83 11.83 0 0011-7.5 11.87 11.87 0 00-3.41-4.73zM16.18 9.77l2.61-2.62L21 4.94 20.06 4l-2.44 2.43-2.33 2.33-7.03 7.03-2.45 2.45L4 20.06l.94.94 2.1-2.1 2.23-2.22z'></path>
                        </svg>
                        <svg class='form-icon form-icon_password form-icon_password__show' style='display: none;' width='16px' height='16px' viewBox='0 0 24 24'>
                            <path d='M12 5a11.83 11.83 0 00-11 7.5 11.82 11.82 0 0022 0A11.83 11.83 0 0012 5zm0 12.5a5 5 0 115-5 5 5 0 01-5 5zm0-8a3 3 0 103 3 3 3 0 00-3-3z'></path>
                        </svg>
                        <p class="form-input-hint" x-text="state.errors.newPassword"></p>
                    </div>
                </div>
                <div class="sidenav-footer">
                    <div class="form-group">
                        <button class="btn btn-login btn-block" @click="saveNewPassword()" type="button" aria-label="Salvar"> Salvar </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function setupChangePassword() {
            let state = {
                oldPassword: '',
                newPassword: '',
                errors: [{
                    oldPassword: ''
                }, {
                    newPassword: ''
                }, ]
            }

            function validate() {
                const errors = {};
                if (!this.state.oldPassword) {
                    errors.oldPassword = 'Por favor, digite sua senha antiga';
                }
                if (!this.state.newPassword) {
                    errors.newPassword = 'Por favor, digite sua nova senha';
                } else if (this.state.newPassword && (this.state.newPassword.length < 6)) {
                    errors.newPassword = 'A senha deve conter no mínimo 6 dígitos.';
                } else if (this.state.newPassword && (this.state.newPassword.length > 50)) {
                    errors.newPassword = 'A senha deve conter no máximo 50 dígitos.';
                }
                this.state.errors = errors;
                return Object.keys(errors).length === 0;
            }

            function saveNewPassword() {
                if (!this.validate()) {
                    return;
                }
                openLoadingSideOverlay('.sidenav-password');
                StoreSDK.request.post('/ajax/customer/change/password', this.state).then(() => {
                    setTimeout(function() {
                        closeLoadingSideOverlay('.sidenav-password');
                        notyf.success('Senha alterado com sucesso!');
                    }, 500);
                }).catch((error) => {
                    setTimeout(function() {
                        closeLoadingSideOverlay('.sidenav-password');
                        if (error.data && error.data.code && error.data.message) {
                            notyf.open({
                                type: 'warning',
                                message: error.data.message,
                            });
                        } else {
                            notyf.open({
                                type: 'warning',
                                message: 'Não foi possível alterar senha',
                            });
                        }
                    }, 500);
                })
            }
            return {
                state,
                validate,
                saveNewPassword,
            }
        }
